Django==5.2.3
dj-database-url==3.0.1
gunicorn==23.0.0
psycopg2-binary==2.9.11
python-dotenv==1.0.1
whitenoise==6.11.0

openai==1.99.9
anthropic==0.34.2
google-generativeai==0.8.3

faiss-cpu==1.13.2
numpy==1.26.4
pandas==2.1.4
scikit-learn==1.6.1
scipy==1.11.4
tqdm==4.67.1

sentence-transformers==5.2.3
transformers==4.48.1
huggingface-hub==0.25.2
torch==2.2.2

pdfminer.six==20260107
PyMuPDF==1.27.2.2
langchain-text-splitters==0.2.2

ragas
deepeval