Django==5.2.3
dj-database-url==3.0.1
gunicorn==23.0.0
psycopg2-binary==2.9.11
python-dotenv==1.0.1
whitenoise==6.11.0
openai==1.99.9
faiss-cpu==1.13.2
numpy==1.26.4
pandas==2.1.4
scikit-learn==1.6.1
sentence-transformers==5.2.3
transformers==4.48.1
torch
pdfminer.six==20260107
PyMuPDF2==1.27.2